:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

#calendar, #editor {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid gray;
}

#calendar {
  flex: 3;
}

#editor {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#calendar .header {
  display: flex;
  justify-content: space-between;
}

#calendar .header > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

#calendar .header button {
  border: 1px solid black;
  border-radius: 8px;
}

#calendar .days {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

#calendar .dates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#calendar .datesRow {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

#editor textarea {
  width: 100%;
  resize: none;
  border: none;
  flex: 1;
}

#editor .editorActions {
  display: flex;
  justify-content: flex-end;
}

#editor .editorActions button {
  border-radius: 8px;
  padding: 8px 16px;
  background: rgb(250, 60, 60);
  color: #fafafa;
}

button {
  margin: 0;
  padding: 8px 12px;
  line-height: 1.5;
  background: transparent;
  border: none;
}

#calendar .dates button {
  aspect-ratio: 1/1;
  border-radius: 50%;
  flex: 1;
  font-size: 1.15rem;
}

#calendar button.differentMonth {
  opacity: 0.5;
}

#calendar button {
  transition: background 0.3s ease-in;
}

#calendar button:hover {
  background: #cacaca;
  transition: background 0.15s ease-out;
}

#calendar button[aria-selected="true"] {
  background: #202020;
  color: #eaeaea;
  opacity: 1;
}

#calendar button[data-hasNote="true"] {
  position: relative;
}

#calendar button[data-hasnote="true"]::after {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
  content: ' ';
}

#calendar button[aria-selected="true"][data-hasnote="true"]::after {
  display: none;
}
